* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}

nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #F55A5A;
  color: white;
  height: 55px;
  max-width: 550px;
  width: 100%;
  font-size: 15px;
  font-weight: 500;
  gap: 8px;
}
